*{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  background-color: #000;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center; 
}
.logo-container .title {
  color: #fff;
  font-size: 20px;
  margin: 0;
  font-weight: 500;
}
.nav-links-container {
  margin-left: -150px;
}
.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.nav-links li {
  margin: 10px;
}
.nav-links li a {
  text-decoration: none;
  color: #bbb5b5;
  font-weight: 500;
  transition: linear;
}
.nav-links li a:hover {
  color: #f6f4f4;
}
.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}  
.search-input {
  border: 0.5px solid #4e4545;
  margin-right: 10px;
  padding top: 7px;
  padding-bottom: 7px;
  padding-left: 40px;
  color: #bbb5b5;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  width: 160px;
}
.search-button {
  background-color: rgb(56, 105, 220);
  color: #fff;
  padding: 5px 15px;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  font-size: 15px;
}
.search-container .search-icon {
  position: absolute;
  left: 10px;
  height: 20px;
  width: 20px;
  color: grey;
}
.version {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.version-text-color {
  color: rgb(56, 105, 220);
  font-weight: 600;
}

.version-info {
  color: #bbb5b5;
  font-weight: 500;
}

.feature-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.feature-info-container {
  flex: 3;
  margin-left: 170px;
  margin-top: 50px;
}
.feature-image-container {
  flex: 7;
  margin-left: 90px;
}
.feature-info {
  color: #bbb5b5;
  font-weight: 450;
  font-size: 14px;
  display: inline;
  border: 1px solid #bbb5b5;
  padding: 7px;
  border-radius: 25px;
  align-items: center;
}
.feature-image {
  width: 700px;
  height: 450px;
  flex: 7;
}
.feature-title1 {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #fff;
}
.feature-title2 {
  font-size: 50px;
  margin-top: 0px;
  color: #fff;
}
.feature-button {
  background-color: rgb(56, 105, 220);
  color: #fff;
  padding: 15px 20px;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  font-size: 20px;
}

.feature-links {
  color: rgb(56, 105, 220);
}
.feature-license-info {
  color: #bbb5b5;
  font-size: 12px;
}










